@import "../sass/mixin";
@import "../sass/reset";
.startwrap{
  width:size(750);
  height:size(1334);
  background:url("../img/2.jpg");
  position: relative;
}
.startleft {
  width:size(240);
  height:size(194);
  background:url("../img/3.png");
  position: absolute;
  top:size(532);
  //left:size(-500);
  left:size(246);
  animation:leftgo .6s linear both;
  -webkit-animation: leftgo .6s linear both;
}
@keyframes leftgo {
  0%{
    left:size(-500);
  }
  50%{
    left:size(100);
  }
  100%{
    left:size(246);
  }
}
.startright{
  width:size(426);
  height:size(426);
  background:url("../img/1.png") no-repeat size(2) size(2);
  position: absolute;
  top:size(410);
  //left:size(900);
  left:size(164);
  animation:rightgo .8s linear both;
  -webkit-animation: rightgo .8s linear both;
}
@keyframes rightgo {
  0%{
    left:size(900);
  }
  50%{
    left:size(50);
  }
  100%{
    left:size(164);
  }
}