@import "../sass/mixin";
@import "../sass/reset";
.fileheader{
  height:size(170);
}
.filewrap{
  width:10rem;
  height:100%;
  background-image: url("../img/index_bg.jpg");
  background-size:10rem 100%;
}
.fileheader_nav{
  width:10rem;
  height:size(46);
  padding-top:size(80);
  padding-bottom:size(43);
}
.fileheader_nav a{
  //display: inline-block;
  float: left;
  color:#fff;
}
.fileheader_nav a:nth-of-type(1){
  width:size(50);
  height:size(46);
  margin-left:size(36);
  background:url("../img/sprit.png") no-repeat size(-417) size(0);
}
.fileheader_nav a:nth-of-type(2){
  width:size(580);
  height:size(102);
  //margin-left:size(235);
  //margin-right:size(235);
  color:#fff;
  text-align: center;
  line-height: size(46);
  @include data-dpr("font-size",18);
}
.fileheader_nav a:nth-of-type(3){
  width:size(46);
  height:size(46);
  margin-right:size(36);
  background: url("../img/sprit.png") no-repeat size(-500) 0;
}
.filesection{
  height:size(514);
}
.filepicture{
  width:size(356);
  height:size(356);
  margin-left:size(195);
  margin-right:size(195);
  //background-image:url("../img/Coeluso_app-new-beifen_03.jpg");
  border-radius: 100%;

}
.filechecklist{
  width:size(422);
  height:size(86);
  margin-top:size(40);
  margin-bottom:size(20);
  margin-left:size(193);
  margin-right:size(193);
  background-color:#ff3334;
  position: relative;
}
.filelistplay{
  width:size(422);
  height:size(86);
  background-color:#ff3334;
  position: absolute;
  top:0;
  left:0;
  color:#fff;
  text-align: center;
  line-height: size(86);
  @include data-dpr("font-size",18);
}
.fileleft_cicle{
  width:size(86);
  height:size(86);
  border-radius: 100%;
  background-color:#ff3334;
  position: absolute;
  top:0;
  left:size(-43);
}
.fileright_cicle{
  width:size(86);
  height:size(86);
  border-radius: 100%;
  background-color:#ff3334;
  position: absolute;
  top:0;
  left:size(379);
}
//.musiclist{
//  height:size(508);
//}
.filelist{
  height:size(648);
  position: relative;
}
.filelist li{
  height:size(60);
  width:size(678);
  padding-top:size(30);
  padding-bottom:size(30);
  padding-left:size(34);
  padding-right:size(34);
  border-bottom:size(2) solid #142950;
}
.filelist_ul_li1 div{
  float: left;
  height:size(60);
}
.filelist_ul_li1 div:nth-of-type(1){
  width:size(58);
  heigth:size(60);
  line-height: size(60);
  @include data-dpr("font-size",12);
  color:#193d6e;
}
.filelist_ul_li1 div:nth-of-type(2){
  width:size(570);
  height:size(60);
}
.filelistname span{
  display: block;
}
.filesongname{
  height:size(30);
  @include data-dpr("font-size",12);
  line-height: size(30);
  color:#2a5ea4;
}
.filesingername{
  height:size(30);
  @include data-dpr("font-size",12);
  line-height: size(30);
  color:#ffffff;
}
.filelist_ul_li1 div:nth-of-type(3){
  width:size(48);
  height:size(60);
  line-height: size(60);
  @include data-dpr("font-size",12);
  color:#ffffff;
}
.filemore{
  width:size(284);
  //width:size(350);
  height:size(66);
  margin-top:size(50);
  margin-bottom:size(50);
  margin-left:size(250);
  margin-right:size(200);
  background-color:#010001;
  border:size(2) solid #173762;
   border-radius: 5%;
  text-align: center;
  line-height: size(66);
}

